.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
mat-card{
    flex: 1 1 20%;
    margin: 10px;

    a{
        text-decoration: none;
        text-align: center;
        cursor: pointer;
    }

    img{
        display: block;
        width: 280px;
        height: 180px;
        margin: 0 auto;
    }
}