.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
mat-card{
    flex: 1 1 400px;
    margin: 30px 10px;

    mat-card-content{
        margin-top: 30px;
    }
}
img{
    max-height: 120px;
    width: auto;
    display: block;
    margin: 10px auto;
    
}