:host {
    display: block;
    margin-top: 4rem;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    background-color: #f6f6f7;
    color: #71898c;
    font-size: 0.875rem;
    position: relative;
    overflow: hidden;
  }