.example-card{
    height: 240px;
}
.home-link{
    display: block;
    text-decoration: none;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #eee;
    color: black;
    margin: 30px auto;
    max-width: 100px;
}
.example-header-image{
    width: 200px;
    height: auto;
    border: 1px solid #eee;
}
img{
    width: 200px;
    height: auto;
}