:host {
    display: block;
    position: relative;
}

header {
    display: block;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f6f6f7;
  }
nav{
  margin: 0 10px;
}

app-search{
  min-width: 450px;
  display: inline-flex;
  margin: 0 120px;
}
  
  
